

/* PAGE GENERAL */
* {
   box-sizing: border-box;
   font-family: 'Open Sans';
   font-weight: 400;
   margin: 0px;
}

/* HEADER */
header {
  /* background-color: #FFFFFF; */
  background-color: red;
  color: black;
  height:50px;
}

h1 {
  font-size: 16px;
  text-align: center;
  padding: 13px;
}

.menu {
  height: 50px;
  background-color: black;
  float: left;
  position: absolute;
}

main {
  background: url(assets/beyonce-COB-bw.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}
