

/* PAGE GENERAL */
* {
   box-sizing: border-box;
   font-family: 'Open Sans';
   font-weight: 400;
   margin: 0px;
}

/* HEADER */
header {
  /* background-color: #FFFFFF; */
  background-color: red;
  color: black;
  height:50px;
}

h1 {
  font-size: 16px;
  padding: 13px;
  text-align: center;
}

.menu {
  height: 50px;
  background-color: black;
  float: left;
  position: absolute;
}

/* Main Section */
main {
  background: url(assets/beyonce-COB-bw.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.player-form {
  padding-top: 100px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

.player-name{
  display: block;
  height: 50px;
  width: 300px;
}

.player-1-name {
  float: left;
}

.player-2-name {
  float: right;
}


#play-game {
  background-color: black;
  color: white;
  height: 50px;
  margin-top: 100px;
  width: 100%;
}
